body {
    background: linear-gradient(-45deg, #ee7752, #003b7a, #b20000, #000289);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: rgba(255, 255, 255, 0.26);
    border: 3px solid rgba(3, 3, 3, 0.565);
    border-radius: 20%;
    margin: 3px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    color: rgba(255, 255, 255, 0.816);
}

.square:hover {
    background: rgba(255, 255, 255, 0.393);
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 30px;
    height: 400px;
    color: white;
}

.game-board {
    height: 500px;
}

.game-info {
    margin-left: 20px;

}